absl-py==0.7.1
astor==0.8.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
defusedxml==0.6.0
django==2.2.22
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1.1
mock==3.0.5
moviepy==1.0.0
nltk==3.4.5
numpy==1.16.3
oauthlib==3.0.1
opencv-python==4.1.0.25
Pillow==6.0.0
proglog==0.1.9
protobuf==3.7.1
PyJWT==1.7.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
Rx==1.6.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tflearn==0.3.2
tqdm==4.31.1
urllib3==1.24.2
Werkzeug==0.15.4
