{% extends 'dashboard/base.html' %}
{% load staticfiles %}


<!-- Post -->
{% block content %}
<article class="box post post-excerpt">

    <!--
        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the <p> entirely if you don't
        need a subtitle.
    -->
    <h2>Request New Highlight</h2>
    <br/><br/>

    <div class="info">
        <!--
            Note: The date should be formatted exactly as it's shown below. In particular, the
            "least significant" characters of the month should be encapsulated in a <span>
            element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
            Oh, and if you don't need a date for a particular page or post you can simply delete
            the entire "date" element.

        -->
        <span class="date">
            <span class="month">{{ request.session.month }}</span>
            <span class="day">{{ request.session.day }}</span><br/>
            <span class="month">{{ request.session.year }}</span>
        </span>
    </div>
    {% comment %} <br/>
    <div style="position:static;">
        <iframe id="backThumb" src="{{ thumb }}"
                marginwidth="-{{request.session.rect_x}}px"
                marginheight="-{{request.session.rect_y}}px"
                width="{{request.session.rect_width}}"
                height="{{request.session.rect_height}}" scrolling="no" frameborder="0"></iframe>
    </div>
    <br/><br/>
    {% endcomment %}
    <div>
        <p>Delay : {{ request.session.delay }}</p>

        <p>Face Recognition : {{ request.session.face }}</p>

        {% if request.session.face == True %}

        <ul>

            <li>rect_x: {{ request.session.rect_x }}</li>
            <li>rect_y: {{ request.session.rect_y }}</li>
            <li>width: {{ request.session.rect_width }}</li>
            <li>height: {{ request.session.rect_height }}</li>
        </ul>

        {% endif %}

        <p>Speech Recognition : {{ request.session.speech }}</p>
        <p>Chat Analysis : {{ request.session.chat }}</p>
        <p>YouTube Upload : {{ request.session.youtube }}</p>
    </div>

    <form action="/upload/sendRequest/" method="post" class="form-group" enctype="multipart/form-data"
          novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <br/><br/>
        <button type="submit" class="page-scroll btn btn-xl">Upload</button>
    </form>

</article>
{% endblock %}


<!-- Nav -->
{% block nav_list %}
<nav id="nav">
    <ul>
        <li>Procedure</li>

        <li><a href="/upload/dashboard/">Dashboard</a></li>

        <li class="current"><a href="/upload/uploading/"> &gt; Video Upload</a></li>

    </ul>
</nav>
{% endblock %}


<!-- Scripts -->
{% block scripts %}
<script src="{% static 'mypage/js/jquery.min.js' %}"></script>
<script src="{% static 'mypage/js/browser.min.js' %}"></script>
<script src="{% static 'mypage/js/breakpoints.min.js' %}"></script>
<script src="{% static 'mypage/js/util.js' %}"></script>
<script src="{% static 'mypage/js/main.js' %}"></script>
{% endblock %}

