{% extends 'dashboard/base.html' %}
{% load staticfiles %}


<!-- Post -->
{% block content %}
<article class="box post post-excerpt">

    <!--
        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the <p> entirely if you don't
        need a subtitle.
    -->
    <h2>Request New Highlight</h2>
    <br/><br/>

    <div class="info">
        <!--
            Note: The date should be formatted exactly as it's shown below. In particular, the
            "least significant" characters of the month should be encapsulated in a <span>
            element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
            Oh, and if you don't need a date for a particular page or post you can simply delete
            the entire "date" element.

        -->
        <span class="date">
            <span class="month">{{ request.session.month }}</span>
            <span class="day">{{ request.session.day }}</span><br/>
            <span class="month">{{ request.session.year }}</span>
        </span>
    </div>


    <!--<p>YouTube Upload : {{ request.session.youtube }}</p>-->
    <form action="/upload/sendRequest/" method="post" class="form-group" enctype="multipart/form-data" novalidate="">
        {% csrf_token %}

        <p><label for="id_title">Title:</label>
            <input type="text" name="title" value="new video" maxlength="200" required="" id="id_title"></p>

        <p><label for="id_videoFile">VideoFile:</label>
            <input type="file" name="videoFile" required="" id="id_videoFile">
            <input type="hidden" name="path" value="path" id="id_path"></p>
        <br>

        <label>Check Your Options for Highlight Request</label>
        <div class="row option_name" style="text-align:center">
            <div class="col col-sm-4">
                <h3>Delay</h3>
            </div>
            <div class="col col-sm-4">
                <h3>Chat Analysis</h3>
            </div>
            <div class="col col-sm-4">
                <h3>Face Recognition</h3>
            </div>
        </div>
        <div class="row options" style="text-align:center">
            <div class="col col-sm-4">
                <p>{{ request.session.delay }}s</p>
                <br/>
                <p>This delay will be added in front and back of your highlight <strong>spots</strong>.</p>
                <br/><br/>
                <p style="text-align:left;">ex) spot:01:17:03<br/>highlight: 01:17:03 - delay ~ 01:17:03 + delay</p>
                <p></p>
            </div>
            <div class="col col-sm-4">
                {% if request.session.chat == 'ko' %}
                <img src="{% static 'images/flags/ko.png' %}" width="50px">
                {% elif request.session.chat == 'en' %}
                <img src="{% static 'images/flags/en.png' %}" width="50px">
                {% elif request.session.chat == 'gr' %}
                <img src="{% static 'images/flags/gr.png' %}" width="50px">
                {% elif request.session.chat == 'jp' %}
                <img src="{% static 'images/flags/jp.png' %}" width="50px">
                {% elif request.session.chat == 'fr' %}
                <img src="{% static 'images/flags/fr.png' %}" width="50px">


                {% else %}
                <p class="option_off">Off</p>
                {% endif %}
                <br/>
                <p><strong>Sample Words</strong></p>

                {% for word in example_words %}
                    <p>'{{ word }}'</p>

                {% endfor %}




            </div>
            <div class="col col-sm-4">
                {% if request.session.face %}
                <p class="option_on">ON</p>
                {% else %}
                <p class="option_off">Off</p>
                {% endif %}

                {% if request.session.face == True %}
                {% comment %}
                <ul style="list-style-type: none;">

                    <li>rect_x: {{ request.session.rect_x }}</li>
                    <li>rect_y: {{ request.session.rect_y }}</li>
                    <li>width: {{ request.session.rect_width }}</li>
                    <li>height: {{ request.session.rect_height }}</li>

                </ul>
                {% endcomment %}
                <div style="width:300px; height: 260px; overflow:auto;">
                    <div style="width: {{ request.session.rect_width }}px; height: {{ request.session.rect_height }}px; overflow: hidden">
                        <img src="{{ thumb }}"
                             style="position: relative; left: -{{ request.session.rect_x }}px; top: -{{ request.session.rect_y }}px;"/>
                    </div>
                </div>
                {% else %}
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                {% endif %}
            </div>
        </div>
        <br/>
        <button type="submit" class="page-scroll btn btn-xl">Get Highlight!</button>
    </form>

</article>
{% endblock %}


<!-- Nav -->
{% block nav_list %}
<nav id="nav">
    <ul>
        <li>Procedure</li>

        <li><a href="/upload/dashboard/">Dashboard</a></li>

        <li class="current"><a href="/upload/uploading/"> &gt; Video Upload</a></li>

    </ul>
</nav>
{% endblock %}


<!-- Scripts -->
{% block scripts %}
<script src="{% static 'mypage/js/jquery.min.js' %}"></script>
<script src="{% static 'mypage/js/browser.min.js' %}"></script>
<script src="{% static 'mypage/js/breakpoints.min.js' %}"></script>
<script src="{% static 'mypage/js/util.js' %}"></script>
<script src="{% static 'mypage/js/main.js' %}"></script>
{% endblock %}

